<app-navbar></app-navbar>
<div class="fake-body">
    <div class="container">
      <!-- Toast Position it -->
      <div style="position: absolute; top: 0; right: 0; z-index:10;">
        <!-- Then put toasts within -->
        <div class="toast m-3 mt-4" id="notif" role="alert" aria-live="assertive" aria-atomic="true" style="min-width: 300px;">
          <div class="toast-header">
            <img src="" class="rounded mr-2" alt="">
            <strong class="mr-auto">Orders Loaded</strong>
            <small class="text-muted">just now</small>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="toast-body" id="toast-body" >
            Orders loaded from:
          </div>
        </div>
      </div>
      <!-- /Toast Position it -->

        <div class="mt-3">
            <div class="btn-group btn-group-lg btn-group-toggle" data-toggle="buttons" aria-label="View Select">
                <label class="btn btn-secondary active">
                    <input type="radio" name="options" id="PurchaseOrder" value="PurchaseOrder" (click)="updateView($event)" checked> Purchase Orders
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="options" id="SalesOrder" value="SalesOrder" (click)="updateView($event)"> Sales Orders
                </label>
                <!-- Not using Invoices on this view 
                <label class="btn btn-secondary">
                    <input type="radio" name="options" id="Invoice" value="Invoice" (click)="updateView($event)"> Invoices
                </label>
                -->
            </div>
            <!-- Hiding because we're using datatable search instead -->
            <!--
            <div class="float-right">
                <form class="form-inline ">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-primary " type="submit">Search</button>
                </form>
            </div>
            -->
        </div>
        <div class="dataTable-container mt-3">
            <div id="myTable">

            </div>
        </div>
        <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="line-scale">
            <p style="color: white">Please Wait... </p>
        </ngx-spinner>
    </div>
</div>
