<app-navbar></app-navbar>
<div class="fake-body">
    <div class="container">
        <div class="top-section mt-3">
            <div class="row">
                <h3 class="col-sm">Order Details</h3>
                <h5 class="col-sm">Order Number: {{ orderData ?  orderData[3] : '' }}</h5>
            </div>
            <div class="row">
                <p class="col-sm">Vendor Name: {{ orderData ?  orderData[1] : '' }}</p>
                <p class="col-sm">Status: {{ orderData ?  orderData[4] : '' }}</p>
            </div>
            <div class="row">
                <p class="col-sm">Vendor Order #: {{ orderData ?  orderData[2] : '' }}</p>
                <p class="col-sm">Customer Name: {{ orderData ?  orderData[5] : '' }}</p>
            </div>
        </div>
        <div class="items-list">
            <h3>Products</h3>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Item Name</th>
                        <th>Line #</th>
                        <th>Ordered Quantity</th>
                        <th>{{ orderType == ' PurchaseOrder' ? 'Picked Quantity' : 'Received Quantity' }}</th>
                    </tr>
                </thead>
                <tbody *ngIf="orderItem">
                    <tr *ngFor="let item of orderItem">
                        <td>{{ item['productname'] }}</td>
                        <td>{{ item['lineitem_id'] }}</td>
                        <td>{{ item['quantity'] | number:'1.0-0'}}</td>
                        <td>{{ item['qty_received'] | number:'1.0-0' }}</td>
                    </tr>
                </tbody>
            </table>
            <!--<div class="products-grid">

            </div>-->
        </div>
        <div class="button-holder my-4">
            <div class="btn btn-primary btn-lg save-order-button" (click)="createAssets()">Save Order</div>
        </div>
    </div>
</div>
